.title{
  font-family: var(--title-font);
  font-size: var(--title2);
  text-transform: uppercase;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .title{
    font-size: var(--title1);
  }
}